<header class="app-header">
  <h1 class="logo">TaskFlow</h1>
  <div class="header-actions">
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="setLang('pt')">{{ t.translations().lang_pt }}</button>
      <button mat-menu-item (click)="setLang('en')">{{ t.translations().lang_en }}</button>
    </mat-menu>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ t.currentTheme() === 'light' ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>
  </div>
</header>
<main class="app-container">
  <router-outlet></router-outlet>
</main>