<div class="login-wrapper">
  <div class="login-card">
    <div class="card-header">
      <h2>{{ t.translations().login }}</h2>
      <p class="subtitle">Gerencie suas tarefas com clareza e foco.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t.translations().email }}</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t.translations().password }}</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password">
      </mat-form-field>
      @if (error) {
        <div class="error-msg">{{ error }}</div>
      }
      <button class="btn-login" type="submit" [disabled]="form.invalid || loading">
  {{ loading ? '⏳ Aguarde...' : t.translations().login }}
</button>
    </form>
  </div>
</div>